fastapi==0.115.3
uvicorn==0.32.0
httpx==0.28.1
SQLAlchemy==2.0.36
psycopg2==2.9.10
pydantic==2.10.6
pydantic_settings==2.7.1
pytest==8.3.3
pytest-mock==3.14.0
flake8==5.0.4
black==23.1.0
redis==5.2.1
rq==2.1.0
